<h1> Toutes les annonces </h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% @posts.each do |post| %>
        <div>
          <%= post.title %>
        </div>
        <div>
          <%= post.description %>
        </div>
    <% end %>
    </div>
  </div>
</div>
