.card-post {
  display: flex;
  align-content: space-around;
}
.card-category {
  position: absolute;
  top: 65px;
  left: 45%;
  font-size: 30px;
  text-transform: uppercase;

}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
